/* These styles look very nice in Chrome,
   but are a bit misaligned in Firefox or IE. */

/* Background for every page */
body { 
	background-color: #F4CA5C; 
	font-family: arial;
	font-size: 26.08px;
}
.background {
	background-image: url("../Images/notebook.png");
	position: relative;
	height: 600px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	overflow: hidden;
}

/* Background for student sign in */
.puppy {
	background-image: url("../Image/puppy.png");
	position: relative;
	height: 600px;
	width: 700px;
	overflow: hidden;
}
/* Background for advisor sign in */
.dog {
	background-image: url("../Image/dog.png");
	position: relative;
	height: 600px;
	width: 700px;
	overflow: hidden;
}

/* UMBC Advising tile format */
.UMBC {
	position: absolute;
	top: 45px;
	width: 700px;
	text-align: center;
}
/* Page title format */
.title {
	position: absolute;
	top: 114px;
	left: 110px;
	width: 300px;
}
/* Page body/text input format */
.form {
	
	position: absolute;
	top: 199px;
	left: 110px;
	height: 360px;
	width: 250px;
}

/* Specific fonts/input formats */
h1 { font-size: 34px; }
h2 { font-size: 28px; text-decoration: underline; }
label { font-size: 26.08px; }

input[type=text] {
	width: 100%;
	border: 2px solid #999;
	font-size: 20px;
	padding: 4px 4px 4px 4px;
}
input[type=text]:focus {
	border: 2px solid #555;
}

select {
	width: 100%;
	border: 2px solid #999;
	font-size: 20px;
	padding: 4px 4px 4px 4px;
}
select:focus {
	border: 2px solid #555;
}

input[type=submit] {
	background-color: #ccc;
	border: none;
	font-size: 24px;
	padding: 2px 20px 2px 20px;
}
