/* 
File:    advising.css
Project: CMSC 331 Project 1
Author:  Elizabeth Aucott
Date:	 edited 10/8/16 by Elizabeth

		 This is the css style sheet for all Advising pages. 
		 These styles look very nice in Chrome, but are a bit misaligned in Firefox or IE. 
*/

/* Background for every page */
body { 
	background-color: #F4CA5C; 
	font-family: arial;
	font-size: 26.08px;
}
.background {
	background-image: url("../Images/notebook.png");
	position: relative;
	height: 600px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	overflow: hidden;
}

/* Background for student sign in */
.puppy {
	background-image: url("../Images/puppy.png");
	position: relative;
	height: 600px;
	width: 700px;
	overflow: hidden;
}
/* Background for advisor sign in */
.dog {
	background-image: url("../Images/dog.png");
	position: relative;
	height: 600px;
	width: 700px;
	overflow: hidden;
}
/* Background for all other pages */
.paw {
	position: relative;
	height: 600px;
	width: 700px;
	overflow: hidden;
}

/* UMBC Advising tile format */
.UMBC {
	position: absolute;
	top: 45px;
	width: 700px;
	text-align: center;
}
/* Page title format */
.signin {
	position: absolute;
	top: 114px;
	left: 110px;
	width: 590px;
}
/* Page title format */
.title {
	position: absolute;
	top: 48px;
	left: 110px;
	width: 590px;
}
/* content for signin page */
.signinContent {
	position: absolute;
	top: 166px;
	left: 110px;
	height: 360px;
	width: 580px;
}
/* content for all other pages */
.content {
	position: absolute;
	top: 133px;
	left: 110px;
	height: 460px;
	width: 580px;
	overflow: auto;
}

/* Specific fonts/input formats */
h1 { font-size: 34px; }
h2 { font-size: 28px; text-decoration: underline;}
p  { font-size: 20px; margin: 0; line-height: 33px; }
label { font-size: 26.08px; }

input[type=text] {
	width: 250px;
	border: 2px solid #999;
	font-size: 20px;
	padding: 4px 4px 4px 4px;
}
input[type=text]:focus {
	border: 2px solid #555;
}

select {
	width: 420px;
	border: 2px solid #999;
	padding: 4px 4px 4px 4px;
	font-size: 20px;
}
select:focus {
	border: 2px solid #555;
}

input[type=date] {
	border: 2px solid #999;
	font-size: 20px;
}
input[type=date]:focus {
	border: 2px solid #555;
}

input[type=submit] {
	background-color: #ccc;
	border: none;
	padding: 2px 20px 3px 20px;
	font-size: 24px;
}

table {
	border-collapse: collapse; 
	width: 100%;
}
table, th, td {
	border: 2px solid #999;
	font-size: 20px;
	text-align: left;
	vertical-align: top;
	line-height: 29px;
}
a:link, a:visited {
	background-color: #ccc;
	color: black;
	border: none;
	padding: 2px 20px 2px 20px;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 300px;
}
